@import 'variables.css';

.appContainer {
  max-width: var(--max-width);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .appContainer {
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .appContainer {
    max-width: 400px;
  }
}