@import 'variables.css';
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: var(--color-background);
  padding: 2rem;
  text-align: center;
  gap: 1rem;
  border-radius: 12px;
}

.heading {
  font-size: 2.5rem;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.subtext {
  font-size: 1.2rem;
  color: var(--color-text);
  max-width: 600px;
}

.ctaBtn {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ctaBtn:hover {
  background-color: #5935b8;
}

