@import 'variables.css';
:root {
  font-family: var(--font-family-base);
}
.card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.quantityButton {
  background-color: black;
  color: white;
}

.addToCartBtn {
  background-color: #4524da;
  color: white;
  min-width: 100px;
}

.quantityButton,
.addToCartBtn {
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  height: 30px;
  min-width: 120px;
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.9s linear infinite;
  display: inline-block;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
